body, html {
  overflow:none !important;
  margin: 0;
  padding:0;
  background: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: 'Ubuntu', sans-serif;
}
